/* social-media */
header .left-header .social-media a i:hover{
  box-shadow: #333 2px 2px 5px;
}
.social-media a .fa-facebook:hover{
  color: #0011ff;
}
.social-media a .fa-instagram:hover{
  color: #ff0044;
}
.social-media a .fa-twitter:hover{
  color: #00b3ff;
}

/* header button */
header .left-header button:hover{
  background: #2196f3;
  color: #000;
}


/* navbar */
nav .manus ul li a:hover{
  color: #ff0040;
}

/* about button */
.left-about .btn:hover{
  background: #2196f3;
  color: #fff;
}


/* skill-bar animation */
@keyframes html {
  0%{
    width: 0;
  }
  100%{
    width: 80%;
  }
}
@keyframes javascript {
  0%{
    width: 0;
  }
  100%{
    width: 50%;
  }
}
@keyframes css {
  0%{
    width: 0;
  }
  100%{
    width: 70%;
  }
}
@keyframes python {
  0%{
    width: 0;
  }
  100%{
    width: 45%;
  }
}
@keyframes c {
  0%{
    width: 0;
  }
  100%{
    width: 55%;
  }
}
@keyframes cpp {
  0%{
    width: 0;
  }
  100%{
    width: 50%;
  }
}
@keyframes java {
  0%{
    width: 0;
  }
  100%{
    width: 40%;
  }
}
@keyframes mysql {
  0%{
    width: 0;
  }
  100%{
    width: 60%;
  }
}
@keyframes asp-net {
  0%{
    width: 0;
  }
  100%{
    width: 80%;
  }
}


@keyframes visual-studio {
  0%{
    width: 0;
  }
  100%{
    width: 80%;
  }
}
@keyframes neebeans {
  0%{
    width: 0;
  }
  100%{
    width: 50%;
  }
}
@keyframes office {
  0%{
    width: 0;
  }
  100%{
    width: 70%;
  }
}
@keyframes atom {
  0%{
    width: 0;
  }
  100%{
    width: 80%;
  }
}
@keyframes vscode {
  0%{
    width: 0;
  }
  100%{
    width: 40%;
  }
}
@keyframes photoshop {
  0%{
    width: 0;
  }
  100%{
    width: 65%;
  }
}
