/* for width 1000px; */
@media (max-width: 1000px) {
  header{
    height: 100vh;
    flex-direction: column-reverse;
    padding: auto;
    justify-content: center;
    align-items: center;
    text-align: left;
  }
  header .left-header h1{
    font-size: 18px;
  }
  header .left-header h1 span{
    font-size: 28px;
  }
  header .left-header h3{
    font-size: 16px;
  }
  header .left-header .social-media{
    display: flex;
    padding: auto;
  }
  header .right-header{
    text-align: center;
  }
  header .right-header img{
    width: 60%;
    min-width: 60%;
  }
  header .left-header button{
    font-size: 14px;
    padding: 5px 10px;
  }

  /* navbar */
  nav{
    flex-direction: column;
    justify-content: space-evenly;
  }
  .manus ul{
    flex-direction: column;
    position: relative;
    top: -500px;
    opacity: 0;
  }
  .manus.active ul{
    flex-direction: column;
    top: 0;
    opacity: 1;
  }
  nav{
    height: 50px;
    padding: 30px auto;
  }
  nav.active{
    height: 500px;
    text-align: center;
  }
  nav .logo h1{
    position: relative;
    opacity: 0;
  }
  nav.active .logo h1{
    opacity: 1;
  }
  nav h1{
    position: absolute;
  }
  nav .sm-logo{
    display: block;
    left: 20px;
  }
  nav.active .sm-logo{
    display: none;
  }

  .burger{
    position: absolute;
    top: 15px;
    right: 40px;
    width: 25px;
    height: 30px;
    background: url('../img/menu.png');
    background-size: 30px;
    object-fit: cover;
  }
  .burger.active{
    width: 30px;
    height: 30px;
    background: url('../img/close.png');
    background-size: 30px;
    object-fit: cover;
  }


  /* section */
  section{
    padding: 50px 0;
  }
  .about-content{
    flex-direction: column-reverse;
  }
  .left-about{
    margin: 20px 0;
    text-align: center;
    width: 80%;
  }
  .left-about h2{
    font-size: 18px;
    margin: 10px 0;
    font-weight: 600;
  }
  .right-about img{
    width: 70%;
  }

  /* education */
  .education h3{
    margin: auto 20px;
  }
  .education-content{
    margin: 50px 20px;
  }
  .education-content .content .title{
    font-size: 22px;
  }
  .education-content .content .university{
    font-size: 14px;
  }
  .education-content .content .university b{
    font-size: 14px;
  }
  .education-content .content .paras{
    font-size: 12px;
  }

  /* skills */
  .skills-content{
    flex-direction: column;
  }
  .skill-box .info{
    padding: 3px 8px;
    font-size: 14px;
  }
  .contentBx{
    width: auto;
    padding: auto;
  }
  .skill-box .skill-bar{
    z-index: -1;
  }
}




/* for width 600px; */
@media (max-width: 600px){
  header{
    height: auto;
  }
  header .left-header{
    margin-left: 30px;
  }
  header .right-header img{
    width: 100%;
    min-width: 100%;
  }
}
